[Unit]
Description=Check GitHub main and auto deploy LocalTrip

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=false
Unit=localtrip-git-auto-deploy.service

[Install]
WantedBy=timers.target
