[Unit]
Description=Run LocalTrip checklist auto check every 6 hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=false
Unit=localtrip-checklist-auto.service

[Install]
WantedBy=timers.target
